h2
{
    color:#ed2553e8;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}
body
{
    background-color: #1d1d1d;
}
input[type=text]
{
    padding: 8px 10px;
    border: 0;
    
    font-family: 'Roboto', sans-serif;
    color:rgb(228, 228, 228);
    margin:4px 0;
    border-radius:10px;
}
#placeholder
{
    font-family: 'Roboto', sans-serif;
    color:rgb(228, 228, 228);
    border-radius:10px;

}
input[type=button],input[type=submit]
{
    padding: 10px;
    width: 100%;
    border-radius:30px;
    border: 3px solid rgb(228, 228, 228);
    background-color: #1d1d1d;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
    color:rgb(228, 228, 228);

    
}

.submission
{
    text-align: center; 
}